/* Buttons */
button {
  border: 0;
}

.button {
  padding: 1.0625em;
  font-family: $button-font;
  font-size: 16px;
  font-weight: $button-weight;
  line-height: 1.3125; // 21/16
  color: $color-button;
  background-color: $color-button-background;
  border-radius: 4px;
  box-shadow: 0 0 0 $border-size transparent inset;
  transition: all 0.2s $ease-out-quad;

  @include media($min: $breakpoint-s) {
    &:hover {
      color: $color-button;
      background-color: $color-button-background-hover;
    }
  }

  &.inverse {
    @extend %button-inverse;
  }

  &.button-wide {
    padding-left: 3em;
    padding-right: 3em;
  }

  &.button-small {
    padding: 0.25em 0.5em;
    font-size: 13px;
  }

  &.button-short {
    padding: 0.75em 1.5em;
  }

  &.button-secondary {
    color: $color-button-secondary;
    background: $color-button-secondary-background;
    box-shadow: 0 0 0 $border-size $color-button-secondary inset;

    &:hover {
      color: lighten($color-button-secondary, 100%);
      background-color: $color-button-secondary;
    }

    &.inverse {
      @extend %button-secondary-inverse;
    }
  }

  &.button-tertiary {
    color: $color-button-tertiary;
    background: $color-button-tertiary-background;

    &:hover {
      color: $color-button-tertiary-background;
      box-shadow: 0 0 0 $border-size $color-button-tertiary-background inset;
      background-color: transparent;
    }
  }

  &:disabled,
  &.button-disabled {
    cursor: not-allowed;
    opacity: 0.6;
    background-color: $color-button-background-hover;
  }

  &.spinner {
    position: relative;

    &.progress {
      .button-text {
        opacity: 0.1;
      }
    }
  }

  .icon-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin: -10px 0 0 -10px;
  }
}

.button-group {
  @extend %clearfix;
  display: inline-block;
}

.button-group-item {
  position: relative;
  float: left;
  height: 45px;
  min-width: 45px;
  padding: 12px;
  font-family: $font-secondary;
  font-size: rem-calc(13px);
  line-height: 1;
  color: $color-meta;
  text-align: center;
  background-color: transparent;
  border: 2px solid $color-border;
  transition: all 0.3s ease;

  + .button-group-item {
    margin-left: -2px;
  }

  &:hover {
    background-color: $color-accent;
    border-color: $color-accent;
    color: contrast($color-nav-active, 100%);
  }

  &:first-child {
    border-radius: $border-radius 0 0 $border-radius;
  }

  &:last-child {
    border-radius: 0 $border-radius $border-radius 0;
  }

  &.active {
    z-index: 1;
    color: contrast($color-nav-active, 100%, 60);
    background-color: $color-nav-active;
    border-color: $color-nav-active;
  }

  &.disabled,
  &.active {
    pointer-events: none;
    cursor: default;
  }

  .icon-grid-view {
    width: 16px;
    height: 16px;
  }

  .icon-list-view {
    width: 17px;
    height: 16px;
  }
}
