/*----------  Text treatments  ----------*/

%body-text-treatment {
  font-family: $font-body;
  color: $color-body;
  font-size: $font-size;
  line-height: 1.666;
}

%heading-text-treatment {
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-family: $heading-font;
  font-weight: $heading-weight;
  color: $heading-color;
}

%page-header-treatment {
  background-color: $color-background-secondary;
  padding: rem-calc(40px) rem-calc(62px);
  text-align: center;
}

%section-title-text-treatment {
  @extend h3;
  text-align: center;
  color: $section-title-color;
}

%meta-text-treatment {
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-family: $meta-font;
  font-weight: $meta-weight;
  color: $color-meta;
}

%top-bar-font {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 300;
}

%link-text-treatment {
  padding-bottom: 2px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.077em;
  font-size: rem-calc(13);
  text-decoration: underline;

  @if ($font-secondary == "Roboto Condensed") {
    font-family: $font-secondary;
  }

  &:hover {
    text-decoration: none;
    color: $color-link-hover;
  }
}

%list-style {
  padding-left: 1.25em;
  margin-bottom: 2em;

  li {
    margin-bottom: 1em;
  }
}

/*----------  Layout  ----------*/

%wrapper {
  @extend %wrapper-padding;
  margin-right: auto;
  margin-left: auto;
  max-width: $max-width;

  /* Solves border-box issue with max-width in IE8 */
  .lt-ie9 & { width: $max-width; }
}

%wrapper-padding {
  padding-left: 30px - $gutter;
  padding-right: 30px - $gutter;
}

%full-width {
  padding-left: 30px;
  padding-right: 30px;
}

%ghost-center {
  content: " ";
  display: inline-block;
  height: 100%;
  margin-right: -0.25em;
  vertical-align: middle;
}

/*----------  Forms  ----------*/

%form-base-style {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: $color-background-secondary;
  padding: 50px $gutter;
  margin-top: 56px;

  @include media($min: $breakpoint-s) {
    padding: 50px;
  }

  &:after {
    content: " ";
    display: block;
    clear: both;
  }
}

/*----------  Utils  ----------*/

%top-bar-sep {
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 1px;
  height: 25px;
  margin-left: 18px;
  vertical-align: top;
  content: '';
  pointer-events: none;
  background-color: $color-border;
  transform: translateY(-50%);

  @if (lightness($color-topbar-background) < 70) {
    opacity: 0.3;
  }
}

%fill-parent {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

%inline-middle {
  display: inline-block;
  vertical-align: middle;
}

%center-x {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

%background-position-svg {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

%background-position-img {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

%placeholder {
  padding-top: 2px;
  letter-spacing: 0.1em;
  color: lighten($color-input, 6%);
  text-transform: uppercase;
  font-size: rem-calc(13);
}

/*----------  Button  ----------*/

%button-inverse {
  &:hover {
    box-shadow: 0 0 0 $border-size $color-button inset;
  }
}

%button-secondary-inverse {
  color: lighten($color-button-secondary, 100%);
  box-shadow: 0 0 0 $border-size lighten($color-button-secondary, 100%) inset;

  &:hover {
    box-shadow: 0 0 0 $border-size transparent inset;
  }
}
