/*----------  Spinner  ----------*/

.loading-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  background-color: rgba($color-background, 0.8);

  .icon-spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -10px 0 0 -10px;
  }
}


/*----------  Animations  ----------*/

.icon-spinner {
  width: 20px;
  height: 20px;
  animation: spin 0.75s linear infinite;
}

@keyframes spin {
  100% { transform: rotate(360deg); }
}


/*----------  Page  ----------*/

.page-header {
  @extend %page-header-treatment;

  .page-title {
    margin: 0 auto;
  }
}

.section-title {
  @extend %section-title-text-treatment;
  margin: 0 0 2.083em; //50/24
  font-size: 24px;
}

.page-content,
.product-description,
.blog-content {
  ul,
  ol {
    @extend %list-style;
  }

  ul {
    list-style: disc;
  }

  a {
    color: $color-accent;

    &:hover {
      text-decoration: underline;
    }
  }

  img {
    margin-bottom: 2em;
  }

  .feedflare {
    img {
      margin-bottom: 0;
    }
  }

  .page-feed {
    h6 {
      margin-top: 0;
    }

    li {
      margin-bottom: 0;
    }
  }
}

.horizontal-scrollbar {
  overflow-x: auto;
}


/*----------  Pagination  ----------*/

.pagination-wrapper {
  margin: $section-padding 0;
  text-align: center;
}

.pagination {
  .icon {
    position: relative;
    top: rem-calc(2);
    width: rem-calc(12);
    height: rem-calc(10);
  }

  .pagination-page-link {
    line-height: rem-calc(17px);
  }
}


/*----------  Newsletter Signup  ----------*/

.newsletter-signup {
  background-color: $color-background-secondary;

  .container {
    max-width: 616px;
  }

  .subscription-form {
    text-align: center;

    @include media($min: $breakpoint-xs) {
      display: flex;
      align-items: flex-start;
      justify-content: center;
    }
  }

  .form-field {
    display: block;
    width: 100%;
    margin-bottom: 30px;

    @include media($min: $breakpoint-xs) {
      display: inline-block;
      flex: 2;
      width: auto;
      margin: 0 30px 0 0;
    }
  }

  .form-input {
    width: 100%;
  }

  .form-inline-message {
    text-align: left;
  }

  .newsletter-summary {
    margin-top: 30px;
    text-align: center;
  }
}


/*----------  Banners  ----------*/

.banners {
  @extend %clearfix;
  padding: 0 $gutter;
  text-align: center;
  background: $color-background-secondary;
}

.banners-bottom {
  background: $color-background;
  border-top: 1px solid $color-border;
  border-bottom: 1px solid $color-border;
}

.banner {
  max-width: $max-width;
  padding: $gutter 0;
  margin: 0 auto;
  text-align: center;
  border-bottom: 1px solid $color-border;

  // override default rte colors
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 { color: inherit; }

  a {
    text-decoration: underline;

    &:hover {
      color: $color-link;
    }
  }

  &:last-child { border-bottom: 0; }
}
