.mega-nav-variant-container {
  display: flex;
  position: relative;
  width: 100%;
  padding-right: 12px;
  box-sizing: border-box;
  height: 400px;
}

.mega-nav-variant-container::-webkit-scrollbar {
  width: 12px;
}

.mega-nav-variant-container::-webkit-scrollbar-track {
  background: transparent;
}

.mega-nav-variant-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
}

.mega-nav-variant-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.mega-nav-root-list {
  flex: 0 0 25%; /* Set the root list container to 30% width */
  border-right: 1px solid contrast($color-topbar-background, 10%);
  display: flex;
  flex-direction: column;
  font-size: rem-calc(16px);
  font-weight: 400;
  height: 100%;
  overflow-y: auto;
  text-transform: none;
  box-sizing: border-box;
  z-index: 1;

  .hovered {
    transition: background-color 0.3s ease-in-out;
    background-color: #f0f0f0;
  }

  .hovered a {
    color: $color-accent;
  }

  @include media($max: 1300px) {
    width: 30%; /* Adjust the width accordingly for smaller screens */
  }

  li {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Increased spacing between items */
    padding: 8px; /* Added padding for a larger hover area */
    border-radius: 6px; /* Increased border-radius for larger corners */
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */

    a {
      display: block;
      width: 100%; /* Ensure the anchor takes full width */
      word-break: break-word; /* Ensure long words break correctly */
      white-space: normal; /* Allow text to wrap */
      text-decoration: none; /* Remove underline */
      color: #333; /* Darker color for better readability */
      font-weight: 500; /* Slightly bolder font for emphasis */
    }

    &:hover {
      cursor: pointer;
      background-color: #f0f0f0; /* Light grey background on hover */
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); /* Subtle shadow on hover */
    }
  }
}
@media only screen and (max-width: 1700px) {
  .mega-nav-root-list{
    font-size: rem-calc(12px);
  }
}
.mega-nav-child-container {
  flex: 1 1 75%; /* Set the child list container to 70% width */
  padding-left: rem-calc(30px);
  height: 100%;
  overflow-y: auto;
  box-sizing: border-box;
  position: relative;
}

.mega-nav-child-list-container {
  display: none;
  transition: opacity 0.3s ease-in-out;
  height: 100%;
  overflow-y: visible;
  position: relative;

  &.animating,
  &.visible {
    display: block;
    opacity: 1;
  }

  &.animating {
    position: absolute;
  }

  &.animating-in,
  &.animating-out {
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.2s ease, transform 0.1s ease;
  }

  &.visible {
    opacity: 1;
    transform: translateY(0);
  }
}

.mega-nav-child-header {
  display: block;
  font-family: $roboto;
  color: contrast($color-topbar-background, 100%);
  margin-top: 0;
  margin-bottom: rem-calc(10px);
  padding: 0;
  text-align: left;
  width: 100%;
}

.mega-nav-child-list-back {
  display: block;
  height: rem-calc(20px);
  margin-bottom: rem-calc(15px);
  text-align: left;
  font-size: 12px;
  margin-left: -7px;

  svg {
    margin-top: -3px;
    vertical-align: middle;
    transform: rotate(90deg) !important;
    color: contrast($color-topbar-background, 100%);

    path {
      transition: all 0.2s $ease-out-quad;
    }
  }

  a {
    height: 100%;
    color: contrast($color-topbar-background, 100%);
    text-transform: uppercase;
    text-decoration: underline;
    transition: all 0.2s $ease-out-quad;
  }

  &:hover {
    a {
      text-decoration: none;
      color: $color-link-hover;
    }

    svg path {
      fill: $color-link-hover;
    }
  }
}

.mega-nav-child-list-inner-container {
  display: flex;
  height: 100%;
}

.mega-nav-child-list {
  display: flex;
  max-height: 100%;
  flex-wrap: wrap;
  flex-direction: column;
  float: left;
  font-family: $roboto-slab;
  font-size: 13px;
  transition: margin-left 0.3s ease;
  padding-right: 12px;
}

.mega-nav-arrow {
  display: inline-block;
  height: 100%;
  margin-left: rem-calc(2px);
  margin-top: 3px;
  vertical-align: top;
  width: rem-calc(13px);

  .icon-arrow-down {
    transform: rotate(-90deg);
    vertical-align: middle;

    path {
      fill: $color-nav;
    }
  }
}
