  /*----------  Blog Index  ----------*/

.blog {

  .post-read-more {
    @extend .button;
    @extend .button-wide;
  }
}

.blog-items-list {
  .post {
    max-width: $blog-index-width;
    padding-bottom: $section-padding;
    margin: $section-padding auto 0;
    border-bottom: 1px solid $color-border;

    &:last-child {
      border: 0;
    }
  }

  .post-thumb {
    margin-bottom: 1rem;
  }

  .post-title,
  .post-meta {
    text-align: center;
  }

  .post-title {
    @extend h1;
    margin-top: 0;
    margin-bottom: 1rem;
  }

  .post-summary {
    margin-bottom: $double-gutter;
    text-align: center;
  }

  .post-summary-actions {
    text-align: center;
  }

  .share-buttons-nav {
    display: inline-block;
    margin-top: rem-calc(30px);

    @include media($min: $breakpoint-xs) {
      margin-top: 0;
      margin-left: rem-calc(30px);
    }
  }

  .blog-thumb {
    margin-bottom: rem-calc(30px);
  }
}

.post-image-link {
  display: block;
  position: relative;
}

.blog-thumb {
  @include lazy-loaded-img;
  width: 100%;
  height: 100%;
}

.featured-image-container {
  display: block;

  img {
    width: 100%;
  }
}

.post {
  .icon-calendar,
  .icon-avatar {
    width: 16px;
    height: 16px;
    margin-right: 10px;
    transform: translateY(-1px);
  }
}

.post-meta {
  font-weight: 400;
  font-size: rem-calc(11);
  letter-spacing: 0.09em;
  color: $color-meta;
  text-transform: uppercase;

  @if $font-secondary == "Roboto Condensed" {
    font-family: $font-secondary;
  }

  > * { vertical-align: middle; }
}

.post-date {
  margin-right: 38px;
}


/*----------  Blog Single  ----------*/

.blog-content {
  padding: 0 20px;

  @include media($min: $breakpoint-s) {
    padding: 0;
  }
}

.blog-post-single {
  .post-header {
    background-color: transparent;
  }

  .post-meta {
    margin-bottom: 0;
  }

  .post-main {
    max-width: $blog-index-width;
    margin: 0 auto;
  }

  .post-footer {
    margin-bottom: rem-calc(160px);
    text-align: center;

    .post-tags,
    .share-buttons-nav {
      margin-top: $section-padding;
    }
  }
}

.post-tag {
  padding: rem-calc(10px);
  margin-right: 6px;
  background-color: $color-background-secondary;
  border-radius: $border-radius;
  transition: all 0.3s ease;

  &:before { content: "#"; }

  &:hover {
    color: contrast($color-body, 80%);
    background-color: shade($color-background-secondary, 20%);
  }
}

/*----------  Share Buttons  ----------*/

.share-buttons { line-height: 0; }

.social-link {
  display: inline-block;
  margin-right: rem-calc(10);
  vertical-align: middle;

  a {
    color: $color-meta;

    &:hover {
      color: $color-accent;
    }
  }

  .icon {
    width: 28px;
    height: 14px;
  }
}

.fb-like iframe { max-width: none; }
