.cart {
  .link {
    font-size: rem-calc(12px);
    cursor: pointer;
  }
}

.cart-table-header,
.cart-item {
  @include media($min: $breakpoint-s) {
    @include layout-group();
  }

  .cell {
    @include media($min: $breakpoint-s) {
      @include layout-group-item();
      padding-right: $gutter;
      vertical-align: middle;
    }

    &:last-child {
      padding-right: 0;

      @include media($min: $breakpoint-s) {
        text-align: right;
      }
    }
  }
}

.cart-empty { text-align: center; }


/*----------  Cart Table Header  ----------*/

.cart-table-header {
  padding-bottom: 25px;
  border-bottom: 1px solid $color-border;

  @include media($max: $breakpoint-s) {
    display: none;
  }

  .cell {
    @extend h5;
    color: $color-bold;
  }
}

.cart-item-options {
  @include media($min: $breakpoint-s) {
    width: 20%;
  }

  @include media($min: $breakpoint-m) {
    width: 30%;
  }
}

.cart-item-quantity,
.cart-item-price {
  @include media($min: $breakpoint-s) {
    width: 15%;
  }

  @include media($min: $breakpoint-m) {
    width: 10%;
  }
}


/*----------  Cart Table Items  ----------*/

.cart-item {
  padding: rem-calc(25px) 0;
  border-bottom: 1px solid $color-border;

  @include media($max: $breakpoint-s) {
    position: relative;
  }

  .cell {
    @include media($max: $breakpoint-s) {
      margin-bottom: 1em;
    }
  }
}

.cart-item-info {
  margin-bottom: $gutter;

  @include media($min: $breakpoint-xs) {
    margin-bottom: 24px;
  }

  @include media($min: $breakpoint-s) {
    width: 50%;
    margin-bottom: 0;
  }

  .product-brand {
    font-weight: bold;
  }

  .product-name {
    @extend h5;
    margin-bottom: 0.35em;
    display: block;
  }
}

.cart-item-info-wrap {
  @include layout-group;
}

.cart-item-image,
.cart-item-text {
  @include layout-group-item;
  vertical-align: middle;
}

.cart-item-image {
  width: 100px;
}

.cart-item-link {
  display: block;
  position: relative;
  width: 100%;

  img {
    width: auto;
    height: auto;
    border: 1px solid $color-border;
  }
}

.cart-item-text {
  padding-left: 20px;
  padding-right: 20px;

  @include media($min: $breakpoint-xs) {
    padding-left: $double-gutter;
  }
}

.cart-item-actions .link { margin-right: rem-calc(8px); }

.cart-label {
  margin-right: rem-calc(5px);
  color: $color-bold;

  .cart-item-quantity &,
  .cart-item-price & {
    @include media($min: $breakpoint-s) {
      display: none;
    }
  }

}

.quantity-control {
  display: inline-block;

  .button-control-action {
    @include icon-circle($size: 20px);
    line-height: 0;
    background-color: transparent;
    transition: color 0.3s ease, border-color 0.3s ease;

    &:hover {
      color: $color-accent;
      border-color: $color-accent;
    }

    &:focus {
      outline: none;
    }
  }

  .form-input[type="number"] {
    display: inline-block;
    width: rem-calc(35px);
    padding: 0;
    font-family: $font-primary;
    color: $color-body;
    text-align: center;
    cursor: pointer;
    box-shadow: none;
    -moz-appearance:textfield;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      appearance: none;
    }

    &:focus {
      border-bottom: 1px solid $color-meta;
    }
  }

  .icon {
    width: 10px;
    height: 10px;
    line-height: 0;
    pointer-events: none;
  }
}

.cart-item-price {
  @include media($min: $breakpoint-s) {
    position: relative;
  }

  .price-discounted { text-decoration: line-through; }
}

.cart-item-remove {
  position: absolute;
  top: rem-calc(25px);
  right: 0;

  @include media($min: $breakpoint-s) {
    top: 0;
  }

  @include media($min: $breakpoint-l) {
    top: 50%;
    right: rem-calc(-53px);
    transform: translateY(-50%);
  }

  .icon {
    width: 12px;
    height: 12px;
  }
}

/*----------  Gift Wrapping  ----------*/

.giftwrapping-detail {
  color: $color-meta;
  font-family: $font-secondary;
  font-size: rem-calc(14px);
}

.giftwrap-modal {
  max-width: rem-calc(789px);
  padding: 5vw;
  background-color: $color-background;
  border-radius: $border-radius;

  .form-field-title {
    margin-left: 0;
    display: block;
  }

  .form-radio + .form-label-text {
    font-weight: 300;
  }

  .form-input:not(.form-radio) {
    width: 100%;
  }
}

.giftwrap-subtitle,
.giftwrap-title {
  text-align: center;
}

.giftwrap-title {
  margin-top: 0;
}

.giftwrap-subtitle {
  @extend h6;
  margin-bottom: 1.5em;
  color: $color-meta;
}

.giftwrap-form {
  .form-actions {
    text-align: center;
  }

  .button + .button {
    margin-left: 1.5em;
  }
}

/*----------  Cart Totals  ----------*/

.cart-totals {
  display: grid;

  @include media($min: $breakpoint-s) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 10%;
    align-items: start;
  }

  @include media($min: $breakpoint-m) {
    column-gap: 30%;
  }
}

.cart-totals-item {
  @extend %clearfix;
  padding: rem-calc(26px) 0;
  border-bottom: 1px solid $color-border;

  .link {
    float: right;
    clear: right;
  }

  .cart-total-item {
    + .link {
      span { display: none; }

      &:before {
        content: attr(data-change-text);
      }
    }
  }
}

.cart-total-label {
  font-weight: normal;
}

.cart-total-item {
  float: right;

  &.grand-total {
    font-weight: bold;
    color: $color-bold;
  }
}

.list-bulleted .link {
  display: block;
}

.cart-actions {
  @include media($max: $breakpoint-xs) {
    .button {
      display: block;
      margin: 2rem 0;
    }
  }

  @include media($min: $breakpoint-xs) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-spacing: 2rem 2rem;
    margin-top: 2rem;

    .button {
      width: calc(50% - 10px);
      padding-right: 0;
      padding-left: 0;
    }
  }
}

.checkout-multiple {
  display: block;
  width: 100%;
  margin-top: 10px;
}

.cart-additional-checkout-buttons {
  @extend %clearfix;
  text-align: center;

  // scss-lint:disable ImportantRule, QualifyingElement
  p { float: none !important; }

  form { clear: both; }

  > * {
    margin-bottom: rem-calc(15);
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.apple-pay-checkout-button {
  display: none;
  box-sizing: border-box;
  min-width: rem-calc(176);
  height: rem-calc(45);
  background: {
    size: 100% 60%;
    repeat: no-repeat;
    position: 50% 55%;
  }
  border-radius: 5px;

  @if lightness($color-background) < 40 {
    background-image: -webkit-named-image(apple-pay-logo-black);
    background-color: white;
  } @else {
    background-image: -webkit-named-image(apple-pay-logo-white);
    background-color: black;
  }

  .apple-pay-supported & {
    display: inline-block;
  }
}

// Coupons

.coupon-code {
  border: 0;
}

.form-coupon {
  position: relative;
}

.coupons-active {
  margin-bottom: 0;
}

// Shipping

.shipping-calculator {
  @extend %clearfix;
  display: none;
  margin-top: 1.75rem;

  &.visible {
    display: block;
  }

  .shipping-zip {
    float: left;
  }

  .get-shipping-quotes {
    float: right;
  }

  .form-select-wrapper {
    [type="text"] + :after {
      display: none;
    }
  }

  [name="shipping-state"] {
    width: 100%;
  }
}

.shipping-quotes {
  clear: both;
}

.shipping-quote-item {
  cursor: pointer;
  margin-left: 2px;

  &:hover {
    color: $color-accent;
  }

  .form-label-text {
    margin-bottom: 0;

    .ups-shipping-badge {
      vertical-align: middle;
      margin-top: -2px;
      margin-left: 3px;
      margin-right: 3px;
    }
  }
}

// Gift Certificate

.form-gift-certificate {
  display: none;
  margin-top: 1.75rem;

  &.visible {
    display: block;
  }
}
